/* From Uiverse.io by Cornerstone-04 */
.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-family-ui);
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2.5px;
  width: 100%;
  border-bottom: 2.5px solid transparent;
  border-left: 2.5px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  border-top: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: var(--graph-text);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: var(--graph-text);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: var(--graph-text);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  font-family: var(--font-family-ui);
}